html,
body {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    column-gap: 200px;
    background-color: black;
    height: 100vh;
    padding: 5vh 5vw;
}

.slider-view {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
}

.slide1,
.slide2,
.slide3,
.slide4 {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
    justify-content: center;

}

img {
    height: 75vh;
    backdrop-filter: blur(10px);
}

.description-view {
    width: 30vw;
    overflow: hidden;
}

.description {
    display: flex;
    flex-wrap: nowrap;
}

.text1,
.text2,
.text3,
.text4 {
    width: 30vw;
    flex-shrink: 0;
    color: white;
}

.controls:has(input[id='1']:checked)+*+.slider-view .slider {
    transform: translateX(0%);
    transition: 1s;
}

.controls:has(input[id='2']:checked)+*+.slider-view .slider {
    transform: translateX(-100%);
    transition: 1s;
}

.controls:has(input[id='3']:checked)+*+.slider-view .slider {
    transform: translateX(-200%);
    transition: 1s;
}

.controls:has(input[id='4']:checked)+*+.slider-view .slider {
    transform: translateX(-300%);
    transition: 1s;
}

.controls:has(input[id='1']:checked)+.description-view .description {
    transform: translateX(0%);
    transition: 1s;
}

.controls:has(input[id='2']:checked)+.description-view .description {
    transform: translateX(-100%);
    transition: 1s;
}

.controls:has(input[id='3']:checked)+.description-view .description {
    transform: translateX(-200%);
    transition: 1s;
}

.controls:has(input[id='4']:checked)+.description-view .description {
    transform: translateX(-300%);
    transition: 1s;
}